// 暗黑白昼的样式
/* prettier-ignore */
.themeSwitch {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  width: 60PX;
  height: 30PX;
  /* prettier-ignore */
  border-radius: 15PX;
  // background-color: #d9d9d9;
  position: relative;
  cursor: pointer;
  img {
    width: 20PX;
    height: 20PX!important;
    z-index: 1;
  }
  &Active {
    position: absolute;
    width: 25PX;
    height: 25PX;
    border-radius: 50%;
    transition: all 0.5s;
    top: 50%;
    transform: translateY(-50%);
  }
  .light {
    background: #fff;
    left: 3PX;
  }
  .dark {
    background: #000;
    left: 32PX;
  }
}
