.walletModal {
  &AvtiveBtn {
    &::before {
      content: '';
      height: 8px;
      width: 8px;
      margin-right: 8px;
      background-color: rgb(39, 174, 96);
      border-radius: 50%;
    }
  }
  &Content {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }
}
